@media (min-width: 300px) and (max-width: 1000px){
    nav{
        width: 100%;
        position: fixed;
        top: 0;
        border-radius: 0;
        border: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    nav ul{
        display: none;
    }
    nav .three-line{
        display: block;
        margin: 7px 0 0 0;
    }
    nav h1 i{
        font-size: 30px;
        cursor: pointer;
        margin: 10px;
    }
    nav .mobile-menu{
        position: absolute;
        top: 0px;
        right: 0;
        width: 300px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }
    .ri-close-line{
        font-size: 40px;
        cursor: pointer;
        text-align: right;
    }
    nav .nav_img{
        height: 200px;
        width: 200px;
        margin: 0px auto 25px auto;
    }
    nav .nav_img img{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        width: 100%;
    }
    nav .nav_btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
    }
    nav .nav_btn a{
        font-size: 23px;
        font-weight: 500;
        color: black;
        text-decoration: none;
        padding: 10px 0;
        width: 100%;
        text-align: center;
        border-top: 1px solid black;
    }
    .home{
        padding: 50px 0 0 0;
        margin: 0;
        flex-direction: column;
        height: auto;
    }
    .home .intro{
        width: 90%;
        height: auto;
        margin: 20px auto 20px auto;
        text-align: center;
        margin-bottom: 0;
    }
    .home .intro h1{
        font-size: 37.5px;
    }
    .home .intro h2{
        font-size: 25px;
    }
    .home button{
        margin: auto;
        font-size: 20px;
    }
    .home .intro hr{
        margin: 10px auto 10px auto;
        width: 80%;
    }
    .whatsapp , .facebook{
        display: none;
    }
    .socialmedia_logo{
        font-size: 40px;
        margin: auto;
    }
    .ri-github-fill{
        margin: 0 20px 0 20px;
    }
    .home .image{
        display: none;
    }
    .home .mobile_image{
        display: block;
        height: 200px;
        border-radius: 20px;
        width: 350px;
        margin: auto;
    }
    .home .mobile_image img{
        border-radius: 20px;
        height: 200px;
    }
    .about{
        padding: 0;
        padding-top: 60px;
        height: auto;
    }
    .para_none{
        display: none;
    }
    .about .description{
        margin: 0;
    }
    .about .description div{
        display: none;
    }
    .about .image{
        display: none;
    }
    .about .derives{
        display: none;
    }
    .about .description{
        width: 90%;
        margin: auto;
        
        padding-bottom: 20px;
    }
    .about .description h1{
        font-size: 30px;
    }
    .about .description hr{
        width: 250px;
    }
    .project{
        padding: 0;
        height: auto;
        padding-top: 60px;
    }
    .project .info{
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    .project .info br{
        display: none;
    }
    .project .info hr{
        width: 225px;
    }
    .project .info p{
        text-align: justify;
        margin-bottom: 20px;
    }
    .project .box{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 15px;
    }
    .box1, .box2, .box3{
        width: 325px;
        padding: 5px;
        margin: auto;
    }
    .box2{
        display: none;
    }
    .contact{
        padding: 0;
        margin: 50px 0 50px 0;
    }
    .contact h1{
        margin: 10px;
    }
    .contactus{
        flex-direction: column;
    }
    .location{
        margin-bottom: 20px;
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    .location .line br{
        display: none;
    }   
    .location .line{
        margin-bottom: 50px;
    }
    .location p{
        margin-bottom: 10px;
    }
    .location hr{
        display: none;
    }
    .contactus .message input{
        width: 300px;
    }
    .contactus .message textarea{
        width: 300px;
        height: 70px;
    }
    footer{
        display: none;
    }
}
@media (min-width: 650px) and (max-width: 1000px){
    .home .mobile_image{
        height: 330px;
        width: 600px;
    }
    .home .mobile_image img{
        height: 330px;
    }
    .para_none{
        display: block;
    }
    .project{
        padding: 0;
        height: auto;
        padding-top: 60px;
    }
    .project .box{
        display: flex;
        flex-direction: row;
    }
}
@media (min-width: 1200px) and (max-width: 1400px){
    .home{
        padding:110px 0 0 0;
    }
    .about{
        padding:130px 0 0 0;
    }
    .about .completed_project{
        display: none;
    }
    .project{
        padding:100px 0 0 0;
    }
    .contact{
        padding:110px 0 50px 0;
    }
}
@media (min-width: 1000px) and (max-width: 1200px){
    .home{
        padding:110px 0 0 0;
    }
    .home img{
        height: 400px;
        width: 400px;
    }
    .home .intro{
        height: auto;
        width: 470px;
    }
    .whatsapp {
        display: none;
    }
    .about{
        padding:130px 0 0 0;
    }
    .about .completed_project , .about .education , .about .languages , .about .derives{
        display: none;
    }
    .project{
        padding:100px 0 0 0;
    }
    .project .box{
        display: flex;
        flex-direction: row;
    }
    .box1, .box2, .box3{
        margin: auto;
    }
    .box2{
        display: none;
    }
    .contact{
        padding:110px 0 50px 0;
    }
}